# Visual Studio
.vs/
*.suo
*.user
*.userosscache

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# .NET Core
project.lock.json
artifacts/

# Files built by Visual Studio
*.pdb
*.cache
*.tlb
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc

# NuGet Packages
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Microsoft Azure
*.PublishSettings

# Others
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
_TeamCity*
*.pidb
*.svclog